@use "../../abstracts/index" as *;


.ic-accordion-custom {
    position: relative;
    width: 16px;
    height: 16px;
    @include flex(center, center);
    transition: transform 0.35s linear;

    &::after,
    &::before {
        content: "";
        position: absolute;
        @include transition3;
    }

    &::before {
        height: 100%;
        width: 2px;
    }

    &::after {
        height: 2px;
        width: 100%;
    }
}

.accordion-faq_item {
    position: relative;
    padding: 40px;
    background-color: var(--neutral-100);
    border-radius: 40px;
    box-shadow: 
    0px 7.77px 16px 0px #0000000F,
    0px 3px 3px 0px #0000001A,
    0px -8px 0px 0px #0000000D inset,
    0px 4px 0px 0px #FFFFFF99 inset;
    overflow: hidden;

    .accordion-title {
        width: 100%;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.01px;
        color: var(--secondary);
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        br {
            display: none;
        }
    }

    .accordion-action {
        padding-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 
            0px -8px 0px 0px #2E2E2E inset,
            0px 4px 0px 0px #FFFFFF4D inset,
            0px 7.77px 2.21px 0px #0000000F,
            0px 3px 3px 0px #0000001A;
            @include transition3();
            background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #18181B;

        }
        &.collapsed {
            &::before {
                bottom: 110%;
            }
        }
        &:not(.collapsed) {
            .accordion-title {
                br {
                    display: block;
                }
            }
            &::before {
                bottom: 0;
            }
        }
    }

    .ic-wrap {
        justify-content: end;
        padding-right: 9px;
    }

    .accordion-content {
        position: relative;
        z-index: 1;
        .text {
            padding-top: 24px;
            padding-bottom: 96px;
        }
    }

    .accordion-order,
    .ic-wrap {
        width: 100%;
        max-width: 97px;
    }

    .accordion-text {
        width: 100%;
        max-width: 642px;
    }

    @include res(xl, min) {
        .accordion-content {
            width: 100%;
            max-width: 642px;
            margin: 0 auto;
        }
    }

    @include res(sm) {

        .accordion-order,
        .ic-wrap {
            max-width: 30px;
        }

        .accordion-action {
            &.collapsed {
                padding-bottom: 24px;
            }
        }

        .accordion-content {
            padding-bottom: 24px;
        }
    }
}

.accordion-faq_list {
    display: grid;
    gap: 8px;
}