@use "../../abstracts/index" as *;

.tf-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--white);
    border-radius: 99px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 24px;
    background: 
    radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, #272727, #272727);
    box-shadow:
    0px -3px 0px 0px #080808 inset,
    0px 1px 0px 0px #FFFFFF4D inset,
    0px 2.77px 2.21px 0px #0000001F,
    0px 6.65px 5.32px 0px #00000021,
    0px 12.52px 10.02px 0px #00000022,
    0px 22.34px 17.87px 0px #00000024,
    0px 41.78px 33.42px 0px #00000026,
    0px 100px 80px 0px #00000026,
    0px 3px 3px 0px #00000024,
    0px 2.77px 2.21px 0px #0000001F;
    overflow: hidden;
    &:hover {
        box-shadow: 
        0px -3px 0px 0px rgba(8, 8, 8, 1) inset,
        0px 1px 0px 0px rgba(255, 255, 255, 0.3) inset,
        0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.12),
        0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.13),
        0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.14),
        0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.14),
        0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.15),
        0px 100px 80px 0px rgba(0, 0, 0, 0.15),
        0px 3px 3px 0px rgba(0, 0, 0, 0.14),
        0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.12);
        background: 
        radial-gradient(62.56% 62.56% at 50% -13%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(0deg, #272727, #272727);
    }
}

.tf-btn-2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--white);
    border-radius: 99px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 24px;
    color: var(--primary);
    background: 
    radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) ,
    linear-gradient(0deg, #F5F5F5, #F5F5F5);
    box-shadow: 
    0px -3px 0px 0px #E9E9E9 inset,
    0px 1px 0px 0px #FFFFFFB2 inset,
    0px 2.77px 2.21px 0px #0000001F,
    0px 3px 3px 0px #00000024;
    overflow: hidden;
    &:hover {
        color: var(--brand);
    }
}

.animate-btn {
    position: relative;
    overflow: hidden;

    &:hover {
        &::after {
            animation: shine-reverse 1s forwards;
        }
    }
}

.animate-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100%;
    opacity: 0.6;
}

button.animate-btn::after,
.animate-btn.tf-btn::after {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0) 70%);
}

.animate-btn.animate-dark::after {
    background-image: linear-gradient(90deg, transparent, rgb(0 0 0 /0.25), transparent);
}


.tf-loading {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    height: 42px;
    min-width: 118px;
    padding: 10px;

    &.loadmore {
        .spinner-circle {
            display: none;
        }

        &.loading {
            .spinner-circle {
                display: block;
            }

            .text {
                display: none;
            }
        }

        &:hover {
            .spinner-child {
                &::before {
                    background-color: var(--white);
                }
            }
        }

        .spinner-child {
            &::before {
                background-color: var(--main);
                @include transition3;
            }
        }
    }
}


.spinner-circle {
    width: 24px;
    height: 24px;
    position: relative;

    .spinner-child {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        &::before {
            content: "";
            display: block;
            margin: 0 auto;
            width: 20%;
            height: 20%;
            background-color: var(--white);
            border-radius: 100%;
            -webkit-animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
            animation: spinner-circleBounceDelay 1s infinite ease-in-out both;
        }
    }

    .spinner-circle2 {
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);

        &::before {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
    }

    .spinner-circle3 {
        -webkit-transform: rotate(80deg);
        -ms-transform: rotate(80deg);
        transform: rotate(80deg);

        &::before {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
    }

    .spinner-circle4 {
        -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);

        &::before {
            -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
        }
    }

    .spinner-circle5 {
        -webkit-transform: rotate(160deg);
        -ms-transform: rotate(160deg);
        transform: rotate(160deg);

        &::before {
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
        }
    }

    .spinner-circle6 {
        -webkit-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
        transform: rotate(200deg);

        &::before {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
    }

    .spinner-circle7 {
        -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        transform: rotate(240deg);

        &::before {
            -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
        }
    }

    .spinner-circle8 {
        -webkit-transform: rotate(280deg);
        -ms-transform: rotate(280deg);
        transform: rotate(280deg);

        &::before {
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }
    }

    .spinner-circle9 {
        -webkit-transform: rotate(320deg);
        -ms-transform: rotate(320deg);
        transform: rotate(320deg);

        &::before {
            -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
        }
    }
}

