@use "../../abstracts/index" as *;

.heading-section {
    .heading-sub {
        display: flex;
        position: relative;
        width: max-content;
        border-radius: 8px;
        color: var(--brand);
        padding: 6px 16px 6px 30px;
        background: linear-gradient(0deg, #F5F5F5, #F5F5F5),
        radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: 
        0px -3px 0px 0px #E9E9E9 inset,
        0px 1px 0px 0px #FFFFFFB2 inset,
        0px 3px 3px 0px #00000024;
        margin-bottom: 32px;
        &::before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 99px;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--brand);
        }
        &.style-1 {
            background: 
            linear-gradient(0deg, var(--neutral-900, #18181B), var(--Neutral-900, #18181B)),
            radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
            box-shadow: 0px 3px 3px 0px #00000024,
            0px -3px 0px 0px #080808 inset,
            0px 1px 0px 0px #FFFFFF4D inset;

        }
    }
    .heading-title {
        font-weight: 600;
        font-size: clamp(40px, 5vw, 72px);
        line-height: clamp(48px, 5.5vw, 72px);
        letter-spacing: -0.03em;
    }
    &.center {
        text-align: center;
        .heading-sub {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.mb-48 {
        margin-bottom: 48px;
    }
    &.mb-64 {
        margin-bottom: 64px;
    }
    &.mb-70 {
        margin-bottom: 70px;
    }
    &.mb-80 {
        margin-bottom: 80px;
    }
    @include res(md) {
        &.mb-48 {
            margin-bottom: 20px;
        }
        &.mb-64 {
            margin-bottom: 24px;
        }
        &.mb-70 {
            margin-bottom: 30px;
        }
        &.mb-80 {
            margin-bottom: 40px;
        }
    }
}

.tf-list {
    display: flex;
    gap: 4px;

    &.vertical {
        display: grid;
    }
}

.section-hero {
    padding: 16px 16px 0;
    min-height: 100vh;
    position: relative;

    .hero-image {
        position: absolute;
        inset: 16px 16px 0 16px;

        border-radius: 40px;
        background-image: url(./../images/section/hero-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
        }
    }
    .content-wrap {
        padding: 180px 0 160px;
        .sub {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: 6px 16px;
            color: var(--brand);
            border-radius: 8px;
            background: linear-gradient(0deg, #F5F5F5, #F5F5F5),
            radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 
            0px -3px 0px 0px #E9E9E9 inset,
            0px 1px 0px 0px #FFFFFFB2 inset,
            0px 2.77px 2.21px 0px #0000001F,
            0px 3px 3px 0px #00000024;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;
        }
        .title {
            margin-bottom: 33px;
            .title2 {
                margin-top: 13px;
            }
        }
        .title-icon {
            position: relative;
            height: 155px;
            .box {
                display: flex;
                width: 255px;
                height: 80px;
                border-radius: 999px;
                background: linear-gradient(180deg, #EA2B16 0%, #FF3B26 100%);
                box-shadow: 
                0px 3.44px 5.57px 0px #00000016,
                0px 22.91px 37.08px 0px #FF3B002A,
                0px 76px 123px 0px #FF3B000D,
                0px 5.05px 8.18px 0px #FF3B001A,
                0px 16.98px 27.47px 0px #FF3B000C,
                0px 56px 83px 0px #FF3B0040,
                0px 14px 34px 0px #FF3B0040,
                0px 1px 2px 0px #FF3B0066;
            }
            .img-1 {
                position: absolute;
                left: 49px;
                top: 0;
            }
            .img-2 {
                position: absolute;
                right: 42px;
                top: 29px;
            }
            .img-3 {
                position: absolute;
                left: 65px;
                bottom: 0;
            }
        }
        .text {
            margin-bottom: 24px;
        }
        .bot-btns {
            display: flex;
            gap: 11px;
            justify-content: center;
            align-items: center;
        }
    }
    .scroll-more {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 12px;
        width: 320px;
        height: 56px;
        background-color: #EDECEC;
        border-radius: 40px 40px 0 0;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 32px;
            border-radius: 99px;
            border: 1px solid var(--neutral-300);
            color: var(--brand);
            font-size: 16px;
        }
    }

    &.v1 {
        min-height: unset;
        .content-wrap {
            padding: 180px 0 76px;
            .title {
                margin-bottom: 5px;
            }
        }
    }

    @include res(xl, min) {
        .col-right {
            .top {
                padding-top: 24px;
            }
        }
    }

    @include res(md) {
        .content-wrap {
            padding: 125px 0 100px;
            .bot-btns {
                flex-direction: column;
            }
        }
        .hero-image {
            border-radius: 24px;
        }
        &.v1 {
            .content-wrap {
                padding: 125px 0 35px;
            }
        }
    }
}

.section-about-us {
    .heading-section {
        margin-bottom: -17px;
    }
    .col-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        text-align: center;
        border-radius: 40px;
        padding: 80px 0 0px;
        background-color: var(--neutral-900);
        box-shadow: 
        0px 7.77px 2.21px 0px #0000000F,
        0px 3px 3px 0px #0000001A,
        0px -8px 0px 0px #2E2E2E inset,
        0px 4px 0px 0px #FFFFFF4D inset;
        overflow: hidden;
        .sub {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--neutral-700);
            border-radius: 99px;
            width: max-content;
            padding: 5px 15px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 12px;
            .dot {
                position: relative;
                display: flex;
                width: 6px;
                height: 6px;
                border-radius: 99px;
                background-color: var(--brand);
                &::before {
                    position: absolute;
                    content: '';
                    width: 14px;
                    height: 14px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-color: #FD3A2540;
                    border-radius: 50%;
                    animation: rippleFade 1.8s ease-out infinite;
                }
            }
        }
        .title {
            margin-bottom: 28px;
            letter-spacing: 0;
        }
        img {
            width: 100%;
            border-radius: 38px;
            margin-top: -25px;
        }
    }
    .review-box {
        background-color: var(--neutral-100);
        border-radius: 40px;
        padding: 48px 40px 34px;
        box-shadow: 
        0px 7.77px 2.21px 0px #0000000F,
        0px 3px 3px 0px #0000001A,
        0px -8px 0px 0px #0000000D inset,
        0px 4px 0px 0px #FFFFFF99 inset;

        .desc {
            margin-bottom: 52px;
        }
        .text {
            font-family: "Roboto";
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
        }
        .number {
            font-weight: 600;
            font-size: clamp(65px, 10vw, 144px);
            line-height: clamp(65px, 10vw, 144px);
            letter-spacing: -0.03em;
            margin-bottom: -16px;
            margin-right: 5px;
        }
    }
    .box-quotes {
        display: flex;
        gap: 24px;
        align-items: center;
        padding: 40px 16px 28px 40px;
        background-color: var(--neutral-100);
        border-radius: 40px;
        box-shadow: 
        0px 7.77px 16px 0px #0000000F,
        0px 3px 3px 0px #0000001A,
        0px -8px 0px 0px #0000000D inset,
        0px 4px 0px 0px #FFFFFF99 inset;
        .image {
            display: flex;
            width: 160px;
            height: 250px;
            flex-shrink: 0;
            border-radius: 24px;
            box-shadow: 
            0px 2.77px 2.21px 0px #0000001F,
            0px 6.65px 5.32px 0px #00000021,
            0px 12.52px 10.02px 0px #00000022,
            0px 22.34px 17.87px 0px #00000024,
            0px 41.78px 33.42px 0px #00000026,
            0px 100px 80px 0px #00000026;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 24px;
            }
        }
        .desc {
            margin-bottom: 29px;
        }
        .cite {
            display: flex;
            align-items: center;
            gap: 8px;
            .line {
                display: flex;
                width: 1px;
                height: 16px;
                background-color: var(--neutral-400);
            }
        }
    }
    .mission-box {
        background-color: var(--neutral-100);
        border-radius: 40px;
        padding: 40px 40px 45px;
        box-shadow: 
        0px 7.77px 2.21px 0px #0000000F,
        0px 3px 3px 0px #0000001A,
        0px -8px 0px 0px #0000000D inset,
        0px 4px 0px 0px #FFFFFF99 inset;
        .line  {
            margin-top: 20px;
            margin-bottom: 20px;
            height: 1px;
            width: 100%;
            background: linear-gradient(90deg, rgba(212, 212, 216, 0) 0%, #D4D4D8 50%, rgba(212, 212, 216, 0) 100%);
        }
    }
    @include res(xxl) {
        min-height: 100vh;
    }
    @include res(md) {
        .mission-box,
        .review-box {
            padding-left: 24px;
            padding-right: 24px;
        }
        .box-quotes {
            padding-left: 24px;
            padding-right: 24px;
            flex-direction: column;
        }
    }
}

@keyframes rippleFade {
    0% {
        transform: translate(-50%,-50%) scale(0.9);
        opacity: 1;
    }

    100% {
        transform: translate(-50%,-50%) scale(2.4);
        opacity: 0;
    }
}

.partner-wrap {
    display: flex;
    align-items: center;
    gap: 24px 98px;
    padding: 60px 0;
    position: relative;
    .text {
        min-width: 114px;
    }
    .infiniteslide_wrap {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            inset: 0;
            background: linear-gradient(90deg, #EDECEC 0%, rgba(237, 236, 236, 0) 25%, rgba(237, 236, 236, 0) 75%, #EDECEC 100%);
        }
    }
    .infiniteSlide_partner {
        gap: 64px;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(90deg, rgba(212, 212, 216, 0) 0%, #D4D4D8 50%, rgba(212, 212, 216, 0) 100%);
    }
    @include res(md) {
        align-items: flex-start;
        flex-direction: column;
    }
}

.box-white {
    background-color: var(--neutral-50);
    border-radius: 40px;
    margin-left: 16px;
    margin-right: 16px;
    @include res(lg) {
        margin-left: 12px;
        margin-right: 12px;
    }
    @include res(md) {
        border-radius: 24px;
    }
}

.box-black {
    position: relative;
    background-color: var(--neutral-950);
    border-radius: 40px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    .light-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 891px;
        height: 350px;
        clip-path: polygon(14.2% 0%, 85.8% 0%, 100% 100%, 0% 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(56px);
    }
    .light-top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .light-bot {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    @include res(lg) {
        margin-left: 12px;
        margin-right: 12px;
        .light-bot ,
        .light-top {
            width: 200px;
        }
    }
    @include res(md) {
        border-radius: 24px;
    }
}

.services-image {
    max-width: 416px;
    height: 240px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
    @include res(lg) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

.featured-works-list {
    display: grid;
    gap: 32px;
}

.featured-works-item {
    background-color: var(--neutral-100);
    border-radius: 40px;
    padding: 12px;
    box-shadow: 
    0px -8px 0px 0px #EAEAEA inset,
    0px 4px 0px 0px #FFFFFF99 inset,
    0px 7.77px 2.21px 0px #0000000F,
    0px 3px 3px 0px #0000001A;
    .image {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 32px;
        }
        .view-project {
            position: absolute;
            bottom: 190px;
            right: 153px;

            display: flex;
            align-items: center;
            gap: 12px;
            color: var(--white);
            padding: 16px 24px;
            border-radius: 99px;
            background: #00000033;
            backdrop-filter: blur(44px);


            opacity: 0;
            visibility: hidden;
            .icon {
                font-size: 24px;
            }
            &:hover {
                color: var(--brand);
            }
        }
    }
    .content {
        padding: 32px 40px 16px;
        .pagi-dot {
            display: flex;
            gap: 10px;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--neutral-300);
            margin-bottom: 24px;
            span {
                display: flex;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: var(--neutral-300);
                &.active {
                    background-color: var(--brand);
                }
            }
        }
        .bot {
            display: flex;
            gap: 24px;
            .heading {
                width: 39.765%;
            }
        }
        .grid-text {
            width: 58.22%;
            display: flex;
            gap: 12px 40px;
            .item {
                &:nth-child(1) {
                    width: 42.363%;
                }
                &:nth-child(2) {
                    width: 23%;
                }
                &:nth-child(3) {
                    width: 23%;
                }
            }
        }
    }
    &:hover {
        .image {
            .view-project {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @include res(md) {
        border-radius: 24px;
        .image img {
            border-radius: 18px;
        }
        .image {
            .view-project {
                bottom: 15px;
                right: 15px;
                opacity: 1;
                visibility: visible;
            }
        }
        .content {
            padding: 16px 10px 16px;
            .bot {
                gap: 12px;
                flex-direction: column;
                .heading {
                    width: 100%;
                }
            }
            .grid-text {
                width: 100%;
                flex-direction: column;
                .item {
                    width: unset !important;
                }
            }
        }
    }
}

.process-heading {
    align-content: center;
    @include res(lg) {
        .group-btn-slider {
            margin-bottom: 24px;
        }
    }
}

.process-slide {
    @include res(lg,min) {
        margin-left: -16px;
    }
}

.process-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 40px;
    background-color: var(--neutral-100);
    box-shadow: 
    0px -8px 0px 0px #0000000D inset,
    0px 4px 0px 0px #FFFFFF99 inset,
    0px 7.77px 16px 0px #0000000F,
    0px 3px 3px 0px #0000001A;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        font-size: 32px;
        color: var(--white);
        border-radius: 16px;
        background: linear-gradient(180deg, #EA2B16 0%, #FF3B26 100%);
        box-shadow: 0px 3.44px 5.57px 0px #00000016,
        0px 22.91px 37.08px 0px #FF3B002A,
        0px 76px 123px 0px #FF3B000D,
        0px 5.05px 8.18px 0px #FF3B001A,
        0px 16.98px 27.47px 0px #FF3B000C,
        0px 56px 83px 0px #FF3B0040,
        0px 14px 34px 0px #FF3B0040,
        0px 1px 2px 0px #FF3B0066,
        0px -3px 0px 0px #0000000F inset,
        0px 1px 0px 0px #FFFFFF99 inset;
        margin-bottom: 96px;
    }
    .content {
        flex-grow: 1;
        margin-bottom: 96px;
        .title {
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: linear-gradient(90deg, rgba(212, 212, 216, 0) 0%, #D4D4D8 50%, rgba(212, 212, 216, 0) 100%);
            }
        }
    }
    .bot {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .time {
            padding: 7px 16px;
            border-radius: 99px;
            border: 1px solid var(--neutral-300);
        }
        .number {
            display: flex;
            gap: 4px;
            align-items: center;
            font-weight: 600;
            font-size: 72px;
            line-height: 72px;
            letter-spacing: -0.03px;
        }
    }
    @include res(md) {
        padding: 20px;
        .icon {
            margin-bottom: 36px;
        }
        .content {
            margin-bottom: 36px;
        }
    }
}







.section-hero-v2 {
    padding-top: 100px;
    position: relative;

    .image-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 60px;

        .img-item {
            overflow: hidden;
            display: flex;
            z-index: 1;


        }

        .image-child {
            opacity: 0.32;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .img-item-2 {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;

        img {
            object-fit: cover;
        }

        &::after {
            display: none;
            content: "";
            position: absolute;
            background-color: var(--primary);
            bottom: 0;
            right: 0;
            width: clamp(32px, 10.8vw, 140px);
            height: clamp(7px, 2.4vw, 31px);
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: #000000B8;
        z-index: -1;
    }

    .bg-video {
        position: absolute;
        inset: 0;
        z-index: -2;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 24px 32px;
        flex-wrap: wrap;
    }

    .image {
        margin-bottom: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .tf-list {
        flex-wrap: wrap;
        gap: 12px 24px;
    }

    .img-item-2 {
        &::after {
            display: block;
        }
    }

    @include res(xl, min) {
        padding-top: 71px;



        .tf-list {
            gap: 40px;
        }

        .image,
        .image-wrap {
            margin-bottom: 94px;
        }
    }

    @include res(sm) {
        .image-wrap {
            .img-item {
                width: 300px;
            }
        }
    }

    @include res(ssm) {
        .image-wrap {
            .img-item {
                width: 280px;
            }
        }
    }
}

.cursor-trail {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.section-about-me {
    position: relative;

    .s-img-bg {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: #00000070;
            z-index: 1;
        }
    }

    .col-left {
        position: relative;
        margin-bottom: 50px;

        .badget {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            border-radius: 50%;
            box-shadow: 0px 0.25px 0.25px 0px #FFFFFF52 inset,
                0px 0.75px 0.25px 0px #FFFFFF1F inset,
                0px 4px 16px 0px #FFFFFF29 inset,
                0px -12px 16px 0px #FFFFFF0F inset,
                0px 0px 0px 0.75px #0000008F,
                0px 3px 6px 0px #00000030,
                0px 10px 10px 0px #0000000F,
                0px 12px 16px 0px #0000000F,
                0px 23px 14px 0px #0000000F;
            backdrop-filter: blur(6px);
            overflow: hidden;

            img {
                animation: spin 10s linear infinite;
            }
        }

        .signature {
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 15px;
            @include flex(center, center);
            z-index: 2;
        }
    }

    .davies-video {
        position: relative;
        display: flex;

        .video {
            background-blend-mode: luminosity;
            max-height: 666px;
            aspect-ratio: calc(533/666);
            filter: grayscale(100%);
        }

        .overlay {
            position: absolute;
            inset: 0;
            z-index: 1;
            pointer-events: none;

            &.mark-1 {
                background: linear-gradient(270deg, #000 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, #000 100%);
            }

            &.mark-2 {
                background: linear-gradient(180deg, #000 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, #000 100%);
            }
        }
    }

    .col-right {
        .br-line {
            background-color: #FFFFFF29;
            display: flex;
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }



    @include res(xl, min) {
        .col-left {
            .badget {
                transform: translate(50%, -50%);
                right: 0;
            }

            .signature {
                bottom: 40px;
            }
        }

        .col-right {
            .br-line {
                margin-bottom: 88px;
                margin-top: 88px;
            }
        }
    }

    @include res(xl) {
        .badget {
            max-width: 100px;
        }
    }
}

.experience-list {
    display: grid;
    gap: 16px;

    li {
        letter-spacing: -0.01em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;

        &:first-child {
            color: var(--white-64);
        }
    }

    .exp_name {
        flex: 1;
    }

    .exp_year {
        color: var(--white-64);
        min-width: 109px;
        text-align: end;
    }
}

.section-about-me-v2 {
    .davies-video {
        position: relative;
        display: flex;

        .video {
            background-blend-mode: luminosity;
            min-height: 500px;
            aspect-ratio: calc(1296/729);
            filter: grayscale(100%);
            z-index: 0;
        }

        .overlay {
            position: absolute;
            inset: 0;
            z-index: 1;
            pointer-events: none;

            &.mark {
                background: linear-gradient(270deg, #000 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, #000 100%),
                    linear-gradient(180deg, #000 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, #000 100%);
            }

            &.bg-effect {
                background: var(--white);
                mix-blend-mode: color-burn;
            }
        }
    }

    .about-main {
        position: relative;

        .content {
            position: absolute;
            inset: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .top {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: 12px 24px;
        }

        .text-color-change {
            max-width: 642px;
        }
    }

    .award-main {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        gap: 12px;

        .badget {
            img {
                animation: spin 10s linear infinite;
            }
        }

        .experience-list {
            max-width: 533px;
            width: 100%;
        }
    }
}

.mini-title {
    margin-bottom: 24px;

    @include res(xl, min) {
        margin-bottom: 40px;
    }
}

.section-brand {
    .tf-grid-layout {
        gap: 0;
    }

    .img-brand {
        @include flex(center, center);
        aspect-ratio: 1;
        padding: 20px;
        @include transition3;
        opacity: 0.64;

        img {
            @include transition3;
            transform: scale(1);
        }

        &:hover {
            opacity: 1;

            img {
                transform: scale(1.1);
            }
        }
    }

    .brand-list {
        display: grid;

        .img-brand {
            border-bottom: 1px solid var(--white-16);
            border-right: 1px solid var(--white-16);
        }

        &.type-line-2 {
            .img-brand {
                border-color: #C4C4C4 !important;
            }
        }
    }

    @include res(md, min) {
        .brand-list {
            grid-template-columns: repeat(5, 1fr);

            .img-brand {
                &:nth-child(-n + 5) {
                    border-top: 1px solid var(--white-16);
                }

                &:nth-child(5n + 1) {
                    border-left: 1px solid var(--white-16);
                }
            }
        }
    }

    @include res(sm, between, md) {
        .brand-list {
            grid-template-columns: repeat(3, 1fr);

            .img-brand {
                &:nth-child(-n + 3) {
                    border-top: 1px solid var(--white-16);
                }

                &:nth-child(3n + 1) {
                    border-left: 1px solid var(--white-16);
                }
            }
        }
    }

    @include res(sm) {
        .brand-list {
            grid-template-columns: repeat(2, 1fr);

            .img-brand {
                &:nth-child(-n + 2) {
                    border-top: 1px solid var(--white-16);
                }

                &:nth-child(2n + 1) {
                    border-left: 1px solid var(--white-16);
                }
            }
        }
    }
}

.section-award {
    position: relative;
    overflow: hidden;

    .col-right {
        padding-bottom: 492px;
    }

    .award-list {
        display: grid;
        gap: 4px;

        li {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .award-item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--white-32);
        @include transition3;
    }

    .tf-swiper {
        height: calc(48px * 3 + 8px);

        .swiper-slide {
            &.swiper-slide-active {
                .award-item {
                    color: var(--white);
                }
            }
        }

        &.swiper-t2 {
            .award-item {
                color: var(--black-32);
            }

            .swiper-slide {
                &.swiper-slide-active {
                    .award-item {
                        color: var(--black);
                    }
                }
            }
        }
    }

    @include res(md) {
        .tf-swiper {
            height: calc(26px * 3 + 8px);
        }
    }

    @include res(ssm) {
        .col-right {
            padding-bottom: 400px;
        }
    }
}

.wrap-flip-image {
    position: absolute;
    inset: 0;
    pointer-events: none;

    .container {
        height: 100%;
    }

    @include res(ssm) {
        padding-top: 120px;
    }
}

.flip-image-list {
    position: relative;
    height: 100%;
}

.flip-image {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    transform: translateX(150vw);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;

    img {
        @include transition3;
    }

    &:hover {
        img {
            transform: translateY(-20px);
        }
    }

    @include res(md) {
        width: 150px;
        height: 150px;
    }
}

.section-service {
    @include res(lg, min) {
        position: relative;
        overflow: hidden;

        .services-wrapper {
            display: flex;
            flex-direction: row;
            width: 300%;
        }

        .wg-service {
            width: 100vw;
            flex-shrink: 0;
        }
    }
}

.indicator-wrap {
    position: relative;
    padding-bottom: 30px;

    .wg-indicator {
        margin-bottom: 40px;
    }

    .bg-img {
        position: absolute;
        inset: 0;
        display: flex;
        opacity: 0.5;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 75%;
        }
    }

    @include res(lg, min) {
        padding-bottom: 90px;
    }
}

.section-cta {
    position: relative;

    .bg-img {
        position: absolute;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;

        img {
            width: 100%;
            transform: translateY(-35%);
        }
    }

    @include res(xxl, min) {
        padding-bottom: 180px;
    }
}

.logo-custom {
    width: 50px;
    height: 50px;
    @include flex(center, center);
    background: #FFFFFF0D;
    position: relative;

    .logo-site {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        width: 34px;
    }

    .logo-site-sv {
        display: flex;
        justify-content: center;
        flex-shrink: 0;

        path {
            fill: var(--primary);
        }
    }

    .line-vertical {
        width: 1px;
        height: 254px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.32) 50%, rgba(0, 0, 0, 0) 100%);

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    .line-horizontal {
        width: 254px;
        height: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.32) 50%, rgba(0, 0, 0, 0) 100%);

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }
    }

    @include res(lg) {
        .line-vertical {
            height: 127px;
        }

        .line-horizontal {
            width: 127px;
        }
    }
}

.section-selected-work {
    position: relative;

    .image-award {
        margin-top: 40px;
        @include transition3;
        @include hidden;

        &.active {
            @include visible;
        }
    }

    .btn-thumbs-group {
        &.stt-2 {
            .btn-thumbs {
                display: none;
            }

            &.number-order-3 {
                .btn-thumbs {
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }

    .swiper-btn-hor {
        max-height: calc(86px * 3);
    }

    .bg-img {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        z-index: 2;
        pointer-events: none;

        img {
            width: 100%;
            object-fit: cover;
        }
    }



    .group-btn-slider {
        margin-top: 24px;
    }

    .content-wrap-1 {

        .col-left,
        .col-right {
            margin-bottom: 35px;
        }
    }

    .content-wrap-2 {
        position: relative;
        z-index: 2;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            z-index: 0;
        }

        .col-right {
            display: flex;
            justify-content: end;
        }
    }

    .group-btn {
        gap: 8px 16px;
        flex-wrap: wrap;
    }

    .slider-content-thumb {
        .image {
            box-shadow: 0px 0px 0px 1px #FFFFFF0D inset;

            img {
                min-height: 350px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include res(xl, min) {
        .group-btn-slider {
            gap: 40px;
        }

        .content-wrap-2 {

            .col-right {
                transform: translateY(-50%);
            }
        }
    }

    @include res(md) {
        .group-btn-slider {
            justify-content: flex-start;
            margin: 0;
        }

        .content-wrap-2 {
            .row {
                align-items: center;
            }
        }

        .image-award {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0;
        }
    }
}

.work-wheel {
    position: relative;
    overflow: hidden;

    li {
        color: var(--white-64);
        transition: color 0.3s ease;

        span {
            display: block;
        }

        &.active {
            color: var(--white);
        }

        &.style-2 {
            transform: matrix(1, 0, -0.53, 0.85, 0, 0);

            span {
                transform: matrix(1, 0, 0.53, 1, 0, 0);
            }
        }

        &.style-3 {
            transform: matrix(1, 0, -0.71, 0.7, 0, 0);

            span {
                transform: matrix(1, 0, 0.71, 1, 0, 0);
            }
        }
    }

    &.number-order-3 {
        margin-bottom: 40px;
    }

    &::before {
        content: "";
        inset: 0;
        position: absolute;

        z-index: 2;
        pointer-events: none;
        @include transition3;
    }

    &.number-order-1 {
        &::before {
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.08) 100%);
        }
    }

    &.number-order-2 {
        &::before {
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.08) 50%, #000000 100%);
        }
    }

    &.number-order-3 {
        &::before {
            background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.08) 100%);
        }
    }
}

.work-tag {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 108px;

    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include transition5;
        @include hidden;
        transform: translateY(20px);

        &.active {
            @include visible;
            transform: translateY(0);
            z-index: 1;
            position: relative;
        }
    }
}

.smooth-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.smooth-content {
    position: absolute;
    width: 100%;
}

.section-selected-work-v2 {
    padding-top: 60px;



    .work-list {
        margin-bottom: 60px;

        .element {
            &:not(:last-child) {
                margin-bottom: 60px;
            }
        }
    }

    @include res(xl, min) {
        .work-list {
            margin-bottom: 88px;

            .element {
                &:not(:last-child) {
                    margin-bottom: 88px;
                }
            }
        }
    }
}

.infiniteSlide_select_work {
    >* {
        margin-left: 12px;
        margin-right: 12px;
    }

    @include res(lg) {
        .icon-app {
            max-width: 80px;
        }
    }
}

.section-tech-stack {
    padding-top: 60px;
}

.section-tech-stack-v2 {
    .tf-grid-layout {
        gap: 12px;
        place-items: center;
    }

    .wg-tech-v2 {
        max-width: 400px;
        width: 100%;
    }

    @include res(xl, min) {
        .tf-grid-layout {
            gap: 24px;
            padding-right: 24px;
            padding-left: 24px;
        }
    }
}

.section-feature {

    @include res(xxl, min) {
        padding-top: 180px;
    }
}

.section-testimonial {
    padding-bottom: 0;
    position: relative;


    .bg-img-item {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 60px;
        display: flex;
        justify-content: center;
        z-index: -1;
        opacity: 0.5;

        img {
            width: 100%;
        }
    }

    @include res(lg, min) {
        padding-bottom: 60px;
    }
}

.section-service-v2 {
    .br-line {
        margin-bottom: 40px;
    }
}

.section-blog {
    .tf-grid-layout {
        gap: 30px;
    }
}

.section-page-title {
    padding-top: 60px;

    .page-title {
        margin-bottom: 20px;
    }

    .breadcrumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

.section-404 {
    .title {
        margin-bottom: 40px;
    }

    .desc {
        margin-bottom: 30px;
    }

    .tf-btn {
        max-width: 180px;
        width: 100%;
    }
}

.section-faq {
    &.type-2 {
        .s-header {
            .text {
                gap: 0px 16px;
                display: inline-flex;
                align-items: center;
            }
        }
    }

    @include res(md) {
        &.type-2 {
            .s-header {
                .title {
                    display: grid;
                    place-items: center;

                    br {
                        display: none;
                    }
                }

                .text {
                    gap: 8px;
                }

                .icon {
                    width: 40px;
                    aspect-ratio: 1;
                }
            }
        }
    }
}

.main-mouse-hover {
    position: relative;

    .tf-mouse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        &.hover {
            opacity: 1;
        }
    }
}

.stack-element-2 {
    @include res(lg, min) {
        position: relative;
        height: 100vh;
        overflow: hidden;

        .stack {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .element {
            position: absolute;
            inset: 0;
        }

        .element1 {
            z-index: 1;
        }

        .element2 {
            z-index: 2;
        }

        .element3 {
            z-index: 3;
        }
    }
}

.wg-service-2 {
    display: flex;
    gap: 121px;
    position: relative;

    .main-image {
        position: relative;
        max-width: 424px;
        width: 100%;

        .action {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
        }
    }

    .title {
        margin-bottom: 16px;
    }

    .desc {
        margin-bottom: 40px;
    }

    .br-line {
        margin-bottom: 40px;
    }

    .tf-list {
        margin-bottom: 60px;
        gap: 16px;
    }

    .image-simu {
        width: 212px;
        flex-shrink: 0;
        align-self: center;
        background-color: var(--white);
        display: none;
    }

    .image-2 {
        align-self: center;
        display: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include res(xl, min) {
        .image-2 {
            width: 212px;
            position: absolute;
            left: calc(100% - 212px);
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }

        .image-simu {
            display: block;
        }
    }

    @include res(xxl) {
        gap: 80px;
    }

    @include res(xl) {
        &:not(:last-child) {
            margin-bottom: 60px;
        }

        gap: 60px;

        .image {
            height: 100%;
        }


        .br-line {
            margin-bottom: 32px;
        }

        .tf-list {
            margin-bottom: 40px;
            gap: 8px;
        }

        .main-image {
            max-width: unset;
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .center {
            width: 50%;
            align-self: center;
        }
    }

    @include res(md) {
        .desc {
            margin-bottom: 28px;
        }

        .br-line {
            margin-bottom: 28px;
        }

        .tf-list {
            margin-bottom: 32px;
        }
    }

    @include res(sm) {
        flex-direction: column;
        gap: 30px;

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        >* {
            width: 100% !important;
        }

        .desc {
            margin-bottom: 20px;
        }

        .br-line {
            margin-bottom: 20px;
        }

        .tf-list {
            margin-bottom: 20px;
        }

        .image {
            img {
                max-height: 350px;
            }
        }

        .action {
            display: none;
        }
    }

    @include res(sm, between, xl) {

        .desc {
            margin-bottom: 32px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
    }
}

.section-tools {
    position: relative;
    padding: 192px 0;
    .img-1 {
        position: absolute;
        top: 181px;
        left: 22.22%;
    }
    .img-2 {
        position: absolute;
        top: 357px;
        left: 15.347%;
    }
    .img-3 {
        position: absolute;
        top: 506px;
        left: 22.7%;
    }
    .img-4 {
        position: absolute;
        top: 235px;
        right: 22.5%;
    }
    .img-5 {
        position: absolute;
        top: 397px;
        right: 16.95%;
    }
    .img-6 {
        position: absolute;
        top: 505px;
        right: 22.92%;
    }
    &.v2 {
        padding-top: 120px;
        padding-bottom: 196px;
    }
    .text {
        margin-bottom: 32px;
    }

    @include res(xl) {
        padding: 100px 0 !important;
    }
    @include res(lg) {
        >img {
            display: none;
        }
    }
    @include res(md) {
        padding: 50px 0 !important;
    }
    @include res(md,min) {
        &.v2 .image {
            margin-top: -167px;
            margin-bottom: -132px;
        }
    }
}

.section-statistic {
    position: relative;
    padding: 64px 0;
    .heading-section {
        margin-left: 4px;
    }
    &::before {
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        width: 100%;
        max-width: 1324px;
        transform: translateX(-50%);
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    }
    &::after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0;
        width: 100%;
        max-width: 1324px;
        transform: translateX(-50%);
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    }
    > .line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    }
    .statistic-slider {
        max-width: 526px;
        margin-left: 37px;
        .text {
            min-height: 228px;
        }
    }
    .swiper {
        .group-slider {
            margin-bottom: 24px;
        }
        .title {
            color: var(--white);
            margin-bottom: 20px;
        }
        .statistic-number {
            display: flex;
            font-size: clamp(70px, 11vw, 240px);
            line-height: clamp(70px, 11vw, 240px);
            letter-spacing: -0.03em;
            .prefix {
                font-size: clamp(67px, 10vw, 232px);
            }
        }
    }
    @include res(md) {
        padding: 34px 0;
        > .line {
            display: none;
        }
        .statistic-slider {
            margin-left: 0;
            max-width: unset;
            .text {
                min-height: unset;
                margin-bottom: 40px;
            }
        }
    }
}

.section-contact {
    position: relative;
    padding: 48px;
    .form-contact {
        margin-left: 8px;
        margin-right: -8px;
    }
    .contact-image {
        position: absolute;
        inset: 0 16px;
        border-radius: 40px;
        background-image: url(./../images/section/contact-image-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
        }
    }
    .col-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 72px 0;
    }
    .contact-item {
        display: flex;
        align-items: center;
        gap: 16px;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            font-size: 24px;
            border-radius: 24px;
            background: linear-gradient(0deg, #F5F5F5, #F5F5F5),
            radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            box-shadow: 0px -3px 0px 0px #E9E9E9 inset,
            0px 1px 0px 0px #FFFFFFB2 inset,
            0px 2.77px 2.21px 0px #0000001F,
            0px 3px 3px 0px #00000024;
        }
    }
    @include res(xl) {
        .form-contact {
            margin-left: 0;
            margin-right: 0;
            padding: 30px;
            .heading {
                margin-bottom: 20px;
            }
            .attachment {
                padding: 10px 0;
                margin-bottom: 24px;
            }
        }
    }
    @include res(md) {
        padding: 24px 12px;
        .contact-image {
            inset: 0 12px;
            border-radius: 24px;
        }
        .col-left {
            padding: 0 0 24px 0;
        }
        .form-contact {
            padding: 18px;
            border-radius: 24px;
        }
    }
}

.features-wrap {
    display: flex;
    align-items: center;
    .features-col {
        display: grid;
        gap: 32px;
        width: 32.4%;
    }
    @include res(lg) {
        flex-direction: column;
        >img,
        .features-center {
            display: none;
        }
        .features-col {
            width: 100%;
            gap: 24px;
        }
    }
    @include res(md) {
        
    }
}

.section-testimonials {

    .col-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.section-services {
    .top {
        margin-bottom: 59px;
    }
}