$font-main: "Urbanist",
    sans-serif;
$fontIcon: "icomoon";

:root {
    // color
    --white: #ffffff;
    --black: #000000;
    --primary: #09090B;
    --secondary: #71717A;

    --brand: #FD3A25;
    --neutral-100: #F4F4F5;
    --neutral-200: #E4E4E7;
    --neutral-300: #D4D4D8;
    --neutral-400: #A1A1AA;
    --neutral-600: #52525B;
    --neutral-700: #3F3F46;
    --neutral-800: #27272A;
    --neutral-900: #18181B;

}

// [data-color-primary="color-primary-1"] {
//     --primary: #07C42C;
// }

// [data-color-primary="color-primary-2"] {
//     --primary: #f8c736;
//     --primary-rgb: 248, 199, 54;
// }

// [data-color-primary="color-primary-3"] {
//     --primary: #f5772e;
//     --primary-rgb: 245, 119, 46;

// }

// [data-color-primary="color-primary-4"] {
//     --primary: #2ac6f8;
//     --primary-rgb: 42, 198, 248;

// }

// [data-color-primary="color-primary-5"] {
//     --primary: #8dca37;
//     --primary-rgb: 141, 202, 55;

// }

// [data-color-primary="color-primary-6"] {
//     --primary: #6c34fa;
//     --primary-rgb: 108, 52, 250;

// }

// [data-color-primary="color-primary-7"] {
//     --primary: #f14444;
//     --primary-rgb: 241, 68, 68;

// }

// [data-color-primary="color-primary-8"] {
//     --primary: #e14392;
//     --primary-rgb: 225, 67, 146;

// }