@use "../../abstracts/index" as *;

footer {
    position: relative;
    padding: 43px 0 0;
    .footer-image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(100vw - 24px);
        width: 1296px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .footer-content {
        text-align: center;
        padding-bottom: 125px;
        .footer-logo {
            display: inline-flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
        }
        .title {
            margin-bottom: 10px;
        }
        .text {
            margin-bottom: 48px;
        }
    }
    .footer-bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        > * {
            width: 100%;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(90deg, rgba(212, 212, 216, 0) 0%, #D4D4D8 50%, rgba(212, 212, 216, 0) 100%);
        }
        @include res(md) {
            flex-wrap: wrap;
            gap: 12px;
            > * {
                justify-content: center !important;
            }
        }
    }
    @include res(md) {
        .footer-content {
            padding-bottom: 60px;
            .text {
                margin-bottom: 28px;
            }
        }
    }
}


